{% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
</div>
{% endfor %}
<!-- TODO: This JS code is broken as it requires jquery. -->
<script type="text/javascript">
  setTimeout(function () {
    // Closing the alert
    $('.alert').alert('close');
  }, 2000);

</script>
