{% for message in messages %}
<div class="container-fluid p-0">
	<div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		{{ message }}
	</div>
</div>
{% endfor %}

{# todo: This is j-query script for removing the alerts. change to coreui-javascript version.#}
{# https://coreui.io/docs/components/bootstrap/alerts/#dismissing #}
{#<script type="text/javascript">#}
{#	$(document).ready(function() {#}
{#    // show the alert#}
{#    setTimeout(function() {#}
{#        $(".alert").alert('close');#}
{#    }, 2000);#}
{#});#}
{#</script>#}
