{% load static %}
<header class="c-header c-header-light c-header-fixed c-header-with-subheader">
	<button class="c-header-toggler c-class-toggler d-lg-none mfe-auto" type="button" data-target="#sidebar" data-class="c-sidebar-show">
		<svg class="c-icon c-icon-lg">
			<use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-menu"></use>
		</svg>
    </button>
	<a class="c-header-brand d-lg-none" href="{% url 'index'%}">
      <img src="{% static 'assets/brand/OPTICS_dark.png' %}" height="46" />
    </a>
	<button class="c-header-toggler c-class-toggler mfs-3 d-md-down-none" type="button" data-target="#sidebar" data-class="c-sidebar-lg-show" responsive="true">
		<svg class="c-icon c-icon-lg">
			<use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-menu"></use>
		</svg>
	</button>

	<!-- NEw Code-->
	<ul class="c-header-nav ml-auto mr-4">
		<li class="c-header-nav-item dropdown">
          <a class="c-header-nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
				<div class="c-avatar">
                  <img class="c-avatar-img" src="{{ user.profile.image_url }}" alt="Profile Avatar" />
                </div>
			</a>


			<div class="dropdown-menu dropdown-menu-right pt-0">
				<div class="dropdown-header bg-gray-900 py-2" style="color: white"><strong>{{user.username}}</strong></div>

				<a class="dropdown-item" href="#">
					<svg class="c-icon mr-2">
						<use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-file"></use>
					</svg>
					Campaigns<span class="badge badge-primary ml-auto">3</span></a
				>
				<div class="dropdown-header bg-light py-2"><strong>Profile</strong></div>

				<a class="dropdown-item" href="{% url 'own_profile' %}">
					<svg class="c-icon mr-2">
						<use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-user"></use>
					</svg>
					Profile
				</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="/admin">
					<svg class="c-icon mr-2">
						<use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-settings"></use>
					</svg>
					Admin
				</a>
				<a class="dropdown-item" href="{% url 'account_logout' %}">
					<svg class="c-icon mr-2">
						<use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-account-logout"></use>
					</svg>
					Logout
				</a>
			</div>
		</li>
	</ul>
	<div class="c-subheader px-3">
		<!-- Breadcrumb-->
		<ol class="breadcrumb border-0 m-0">
			<!-- Breadcrumb Menu-->
			{% for key, value in breadcrumbs.items %}
				<li{% if forloop.last %}
                      class='breadcrumb-item active'>
                   {% else %}
                      class='breadcrumb-item'><a href="{{value}}">
                   {% endif %}
                    {{ key }}</a></li>
			{% endfor %}
		</ol>
	</div>
</header>
