<div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
	<div class="c-sidebar-brand d-lg-down-none">
		<img class="c-sidebar-brand-full" src="/static/assets/brand/OPTICS_light.png" height="46" />
		<img class="c-sidebar-brand-minimized" src="/static/assets/brand/OPTICS_dark.png" height="46" />
	</div>
	<ul class="c-sidebar-nav">
		<li class="c-sidebar-nav-title">Campaigns</li>

		<li class="c-sidebar-nav-item">
			<a class="c-sidebar-nav-link" href="{% url 'campaigns' %}">
				<svg class="c-sidebar-nav-icon">
					<use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-airplane-mode"></use>
				</svg>
				Campaigns</a
			>
		</li>
		<li class="c-sidebar-nav-title">Reference Tables</li>
		<li class="c-sidebar-nav-item">
			<a class="c-sidebar-nav-link" href="{% url 'reference_tables' %}">
				<svg class="c-sidebar-nav-icon">
					<use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-spreadsheet"></use>
				</svg>
				Reference Tables<span class="badge badge-info">NEW</span></a
			>
		</li>
		
		<li class="c-sidebar-nav-item">
			<a class="c-sidebar-nav-link" href="#">
				<svg class="c-sidebar-nav-icon">
					<use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-spreadsheet"></use>
				</svg>
				Threat Database<span class="badge badge-danger">SOON</span></a
			>
		</li>
		<li class="c-sidebar-nav-title">Statistics</li>
		<li class="c-sidebar-nav-item">
			<a class="c-sidebar-nav-link" href="{% url 'mission_dashboard' %}">
				<svg class="c-sidebar-nav-icon">
					<use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
				</svg>
				Mission Dashboard<span class="badge badge-danger">SOON</span></a
			>
		</li>
		<li class="c-sidebar-nav-title">Application</li>
		<li class="c-sidebar-nav-item">
			<a class="c-sidebar-nav-link" href="https://github.com/jvanlint/OPTICS/issues">
				<svg class="c-sidebar-nav-icon">
					<use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-bug"></use>
				</svg>
				Report a Bug<span class="badge badge-info">NEW</span></a>
		</li>
		<li class="c-sidebar-nav-item">
			<a class="c-sidebar-nav-link" href="#">
				<svg class="c-sidebar-nav-icon">
					<use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-info"></use>
				</svg>
				About OPTICS<span class="badge badge-info">NEW</span></a>
		</li>
	</ul>
	<button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-minimized"></button>
</div>