{% extends user.is_authenticated|yesno:"v2/profile/base_profile.html,v2/profile/base_profile_fullscreen.html,null" %}
<!--  Loading different base template depending if the user is logged in
      For logged in user, this will be displayed in the profile pages,
      For non logged in, this is displayed in fullscreen page -->


{% block account_block %}
  {% if user.is_authenticated %}
    {% include "v2/profile/profile_nav.html" with active_tab='password_reset' %}
  {% endif %}
    {% include 'v2/profile/password_reset_inner.html'%}
{% endblock account_block %}


