{% extends "v2/base_fullscreen.html" %} {% block title %} Register {% endblock %}
{% load crispy_forms_tags %}
{% load static %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'assets/vendors/@coreui/icons/css/free.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendors/@coreui/icons/css/brand.min.css' %}">
{% endblock stylesheets %}
{% block content %}

  <body class="c-app flex-row align-items-center">
  <div class="container">
  <div class="row justify-content-center">
  <div class="col-md-8">
  <div class="card mx-6">

      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
<div class="card-body p-4">
        <h1>Register for an account</h1>
        <p class="text-muted">An OPTICS account enables you to add campaigns, sign up for missions and manage your
          profile.</p>
        <p class="text-muted">You can also use third party logins to create your OPTICS account and login in
          future.</p>
        <p>Your Username will be used as your callsign when taking slots for missions, so don't forget to make it
          <a href="https://aviationhumor.net/the-100-most-creative-pilot-callsigns-with-explanations/" target="_blank"
             rel="noopener noreferrer">awesome!</a>
        </p>
        <p>If you already have an account, you can <a href="{% url 'account_login' %}">Login</a></p>
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
      </form>

      <button class="btn btn-block btn-success" type="submit">Create Account</button>
    </div>
    <div class="card-footer d-flex p-4 justify-content-center">
      <div class="row">
        {% load account socialaccount %} {% get_providers as socialaccount_providers %}
        {% if socialaccount_providers %}
          <div class="socialaccount_ballot">
            <p class="socialaccount_providers align-items-center">
              {% include "socialaccount/snippets/provider_list.html" with process="connect" %}
            </p>
          </div>
          {% include "socialaccount/snippets/login_extra.html" %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}