{% extends "dashboard/basev2.html" %} 
{% load static %} 
{% block content %}

<!-- start container -->
<div class="container">

	<!-- start row - Bread Crumbs -->
	<div class="row">
		<!-- Start Col -->
		<div class = "col-sm">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                  <li class="breadcrumb-item"><a href="{% url 'campaign' %}">Campaigns</a></li>
                  <li class="breadcrumb-item"><a href="{% url 'campaign' packageObject.mission.campaign.id  %}">{{ packageObject.mission.campaign.name }}</a></li>
                  <li class="breadcrumb-item" aria-current="page"><a href="{% url 'mission' packageObject.mission.id  %}">{{packageObject.mission.name}}</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{packageObject.name}}</li>
                </ol>
              </nav>
		</div>
	</div>
	<!-- end row -->

    <div class="starter-template">
        <h2>{{ packageObject.name }}</h2>
        
        <h6>MISSION {{packageObject.mission.name}} / {{packageObject.mission.mission_date}} / {{packageObject.mission.mission_time}}//</h6>
        <hr>
        <p class="lead">{{ packageObject.description|linebreaks }}</p>

        <div class="btn-toolbar">
            <div class="btn-group mr-2">
                <a class="btn btn-sm btn-outline-secondary" href="{% url 'package_update' packageObject.id %}" role="button">Edit</a>
                                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'package_delete' packageObject.id %}" role="button">Delete</a>
            </div>
        </div>
    </div>
    <hr>

    <h2>Flight(s) <a href="{% url 'package_add' packageObject.id %}" role="button"><i class="bi bi-plus-circle"></i></a></h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>Callsign</th>
                    <th>Radio</th>
                    <th>Tacan</th>
                    <th scope="col" colspan="2" style="text-align:center;">Action</th>
                </tr>
            </thead>
            <tbody>
                {% if flightObject %}
            
                {% for flight in flightObject %}
                <tr>
                <td>
                    <a href="/airops/flight/{{ flight.id }}/">{{ flight.callsign }}</a>
                </td>
                <td>{{ flight.radio_frequency }}</td>
                <td>{{ flight.tacan }}</td>
                <td>Button here</td>
                </tr>
                {% endfor %}
            </tr>
            {% else %}
            <tr>
                <td>No flights are available.</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% endif %}

            </tbody>
        </table>
    </div>


{% endblock %}