<!DOCTYPE html>
{% load django_htmx %}
<html lang="en">
  {% include 'v2/includes/head.html' %}
  {%block stylesheets %}
  {%endblock stylesheets%}

  <body class="c-app" hx-ext="debug, event-header">
    {% include 'v2/includes/sidebar.html' %}

    <div class="c-wrapper c-fixed-components">
      {% include 'v2/includes/navigation.html' %}
      <div class="c-body">
        {% include 'v2/includes/messages.html' %}
        {% block content %}
        {% endblock content %}
      </div>
      <div class="footer">
        {% include 'v2/includes/footer.html' %}
      </div>
      {% include 'v2/includes/scripts.html' %}

      <!-- Specific Page JS goes HERE  -->
      {% block javascripts %}{% endblock javascripts %}
      {% django_htmx_script %}
  </body>

</html>
