<!DOCTYPE html>
<html lang="en">
{% include 'v2/includes/head.html' %}
	<body class="c-app">
		{% include 'v2/includes/sidebar.html' %}

		<div class="c-wrapper c-fixed-components">
            {% include 'v2/includes/navigation.html' %}
        <div class="c-body">
            {% include 'v2/includes/messages.html' %}
            {% block content %}
            {% endblock content %}
		</div>
        <div class="footer">
            {% include 'v2/includes/footer.html' %}
        </div>
		{% include 'v2/includes/scripts.html' %}

		<!-- Specific Page JS goes HERE  -->
		{% block javascripts %}{% endblock javascripts %}
	</body>
</html>
