{% extends "v2/base.html" %}{% load static %} {% block title %} Package {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>

.date {
    font-size: 11px
}

.comment-text {
    font-size: 12px;
	color: black;
}

.fs-12 {
    font-size: 12px;
	
}

.shadow-none {
    box-shadow: none;
}

.name {
    color: #007bff;
}

.cursor:hover {
    color: blue;
}

.cursor {
    cursor: pointer;
}

.textarea {
    resize: none;
</style>

{% endblock stylesheets %} {% block content %}
{% include 'v2/includes/confirm_delete_modal.html' %}

<main class="c-main">
	<div class="container-fluid">
		<div class="fade-in">
			<div class="row">
				<div class="col-sm-12 col-md-5">
					<div class="card">
						<div class="card-header">
							<h6 class="text-muted">Flight</h6>
							<h2>{{flight_object.callsign}}</h2>
							<h6 class="text-muted">Task</h6>
							<h4>{{flight_object.task}}</h4>
							<div class="media text-muted pt-3">
								<div class="c-avatar"><img class="c-avatar-img" src="{{ flight_object.creator.profile.profile_image.url }}" alt="" /></div>
								<p class="media-body pb-3 pl-2 mb-0  lh-125">
								<strong class="d-block text-gray-dark">
									{% if flight_object.creator.username %}
									<a href="{% url 'user_profile' mission_object.creator.id %}" class="text-decoration-none text-reset">{{ flight_object.creator.username }}</a>
									{% endif %}
								</strong>
								{{ flight_object.date_created }}
								</p>
							</div>
						</div>
						<div class="card-body">
							{{flight_object.notes|linebreaks|urlize}}
							<div class="nav-tabs-boxed">
								<ul class="nav nav-tabs" role="tablist">
									
									<li class="nav-item">
										<a class="nav-link active" data-toggle="tab" href="#comms" role="tab" aria-controls="comms">Comms</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#tacan" role="tab" aria-controls="comms">TACAN</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#hacks" role="tab" aria-controls="comms">Time Hacks</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#fuel" role="tab" aria-controls="comms">Fuel</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#notes" role="tab" aria-controls="notes">Coordination Notes</a>
									</li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="comms" role="tabpanel">
										{{flight_object.radio_frequency}}
									</div>
									<div class="tab-pane" id="tacan" role="tabpanel">
										{{flight_object.tacan}}
									</div>
									<div class="tab-pane" id="hacks" role="tabpanel">
										<div class="table-responsive">
											<table class="table table-striped">
												<thead>
													<tr>
														<th>Take Off</th>
														<th>RDV 1</th>
														<th>RDV 2</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>{{flight_object.timehack_start}}</td>
														<td>{{flight_object.timehack_rdv1}}</td>
														<td>{{flight_object.timehack_rdv2}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<div class="tab-pane" id="fuel" role="tabpanel">
										<div class="table-responsive">
											<table class="table table-striped">
												<thead>
													<tr>
														
														<th>Fuel FOB</th>
														<th>Fuel Joker</th>
														<th>Fuel Bingo</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>{{flight_object.fuel_fob}}</td>
														<td>{{flight_object.fuel_joker}}</td>
														<td>{{flight_object.fuel_bingo}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<div class="tab-pane" id="notes" role="tabpanel">
										{{flight_object.flight_coordination|linebreaks|urlize}}
									</div>
								</div>
							</div>
						</div>
						<div class="card-footer">
							{% if package_object.creator.username == user.username or isAdmin == True %}
								<button class="btn-sm btn-primary dropdown-toggle float-right" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
							{% else %}
								<button class="btn-sm btn-primary dropdown-toggle float-right" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled="">
							{% endif %}
								<svg class="c-icon">
									<use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-pencil"></use>
								</svg>
								&nbspFlight
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="{% url 'flight_update_v2' flight_object.id %}?returnUrl={{request.path}}">
									<svg class="c-icon">
										<use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-pencil"></use>
									</svg>
									&nbspEdit
								</a>
								<a class="dropdown-item" id="generate_{{flight_object.id}}" data-toggle="modal" data-target="#confirmModal" data-message="Are you sure? If you proceed, the {{ flight_object.callsign }} flight will be deleted." data-buttontext="Delete" href="{% url 'flight_delete_v2' flight_object.id %}?returnUrl={% url 'package_v2' flight_object.package.id %}">
									<svg class="c-icon">
										<use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-trash"></use>
									</svg>
									&nbspDelete
								</a>
							</div>
						</div>
					</div>
					<!-- /.card -->

					<!--.card -->
					<div class="card">
						<div class="card-header">
							Comments <span class="badge badge-pill badge-info ml-auto">{{comments.count}}</span>
						</div>
						<div class="card-body">
								<form action="{% url 'flight_add_comment' %}?flight_id={{flight_object.id}}&returnUrl={{request.path}}" method="post">
									{% csrf_token %}
									<div class="d-flex flex-row align-items-start">
										<img class="rounded-circle" src="{{user.profile.profile_image.url}}" width="40">
										<textarea class="form-control ml-1 shadow-none textarea" id="comment_text" name="comment_text"></textarea>
									</div>
                    				<div class="mt-2 text-right">
										<button class="btn btn-info btn-sm shadow-none" type="submit" value="Post">Post Comment</button>
									</div>
								</form>
						</div>	
						<div class="card-body">
							{% for comment in comments %}
								<!-- Start Comment-->
								<div class="media text-muted pt-3">
									<div class="c-avatar"><img class="c-avatar-img" src="{{ comment.user.profile.profile_image.url }}" alt="" /></div>
										<p class="media-body pb-3 pl-2 mb-0  lh-125 border-bottom border-gray">
											<strong class="d-block text-gray-dark"><a href="{% url 'user_profile' comment.user.id %}" class="text-decoration-none text-reset">{{ comment.user.username}}</a></strong>
											
											{{ comment.comment|urlize }}
											{% if comment.user.username == user.username %}
											<br>
											<a id="comment_{{comment.id}}" data-toggle="modal" data-target="#confirmModal" data-message="Are you sure? If you proceed, the comment will be deleted." data-buttontext="Delete" href="{% url 'flight_delete_comment' comment.id %}?returnUrl={{request.path}}">
												<svg class="c-icon">
													<use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-trash"></use>
												</svg>
											</a>
											{% endif %}
											<p class="small">{{ comment.date_created | timesince}} ago.</p>
										</p>
								</div>
								<!-- End Comment -->
								{% endfor %}
						</div>
						
					</div>
					<!--.card -->

				</div>
				<!-- /.col-->
				<div class="col-sm-0 col-md-7">

					<!-- .card -->
					<div class="card">
						<div class="card-header">Aircraft <span class="badge badge-pill badge-info ml-auto">{{ aircraft_object.count }}</span></div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-striped">
									<thead>
										<tr>
											<th style="width: 30%">Type</th>
											<th style="width: 20%">Pilot</th>
											<th style="width: 20%">RIO/WSO</th>
											<th style="width: 10%">Flight Lead</th>
											<th style="width: 10%">Tail Code</th>
											<th style="width: 10%">Action</th>
										</tr>
									</thead>
									<tbody>
										{% if aircraft_object %} 
										{% for aircraft in aircraft_object %}
										<tr>
											<td>{{ aircraft.type }}</td>
											<td>{{ aircraft.pilot }}</td>
											<td>{{ aircraft.rio_wso }}</td>
											<td>{{ aircraft.flight_lead }}</td>
											<td>{{ aircraft.tailcode }}</td>
											<td>
												<button class="btn btn-info btn-sm dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													<svg class="c-icon">
														<use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-pencil"></use>
													</svg>
													&nbspAircraft
												</button>
												<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
													<a class="dropdown-item" href="#">
														<svg class="c-icon">
															<use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-pencil"></use>
														</svg>
														&nbspEdit
													</a>
													<a class="dropdown-item" id="package_{{package.id}}" data-toggle="modal" data-target="#confirmModal" data-message="Are you sure? If you proceed, the {{ package.callsign }} package will be deleted." data-buttontext="Delete" href="#">
														<svg class="c-icon">
															<use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-trash"></use>
														</svg>
														&nbspDelete
													</a>
												</div>
											</td>
										</tr>
										{% endfor %} {% else %}
										<tr>
											<td colspan="6">No aircraft available.</td>
										</tr>
										{% endif %}
									</tbody>
								</table>
							</div>
						</div>
						<div class="card-footer">
						<h6>
							<a href="#" class="btn btn-sm btn-success float-right" role="button">
								<svg class="c-icon">
									<use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-plus"></use>
								</svg>
								Add Aircraft
							</a>
						</h6>
						</div>
					</div>
					<!-- /.card -->
					
					<!-- .card -->
					<div class="card">
						<div class="card-header">Waypoint{{ waypoint_object|pluralize }} <span class="badge badge-pill badge-info ml-auto">{{ waypoint_object.count }}</span></div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-striped">
									<thead>
										<tr>
											<th style="width: 5%">#</th>
											<th style="width: 10%">Name</th>
											<th style="width: 10%">Type</th>
											<th style="width: 10%">Lat</th>
											<th style="width: 10%">Long</th>
											<th style="width: 5%">Elev</th>
											<th style="width: 40%">Notes</th>
											<th style="width: 5%">Action</th>
										</tr>
									</thead>
									<tbody>
										{% if waypoint_object %} 
										{% for waypoint in waypoint_object %}
										<tr>
											<td>{{ waypoint.number }}</td>
											<td>{{ waypoint.name }}</td>
											<td>{{ waypoint.type }}</td>
											<td>{{ waypoint.lat }}</td>
											<td>{{ waypoint.long }}</td>
											<td>{{ waypoint.elevation  }}</td>
											<td>{{ waypoint.notes }}</td>
											<td>
												<button class="btn btn-info btn-sm dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													<svg class="c-icon">
														<use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-pencil"></use>
													</svg>
													&nbspWaypoint
												</button>
												<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
													<a class="dropdown-item" href="#">
														<svg class="c-icon">
															<use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-pencil"></use>
														</svg>
														&nbspEdit
													</a>
													<a class="dropdown-item" id="package_{{package.id}}" data-toggle="modal" data-target="#confirmModal" data-message="Are you sure? If you proceed, the {{ package.callsign }} package will be deleted." data-buttontext="Delete" href="#">
														<svg class="c-icon">
															<use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-trash"></use>
														</svg>
														&nbspDelete
													</a>
												</div>
											</td>
										</tr>
										{% endfor %} {% else %}
										<tr>
											<td colspan="8">No waypoints available.</td>
										</tr>
										{% endif %}
									</tbody>
								</table>
							</div>
						</div>
						<div class="card-footer">
						<h6>
							<a href="#" class="btn btn-sm btn-success float-right" role="button">
								<svg class="c-icon">
									<use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-plus"></use>
								</svg>
								Add Waypoint
							</a>
						</h6>
						</div>
					</div>
					<!-- /.card -->
					
					<!-- .card -->
					<div class="card">
						<div class="card-header">Flight Image{{ imagery_object|pluralize }} <span class="badge badge-pill badge-info ml-auto">{{ imagery_object.count }}</span></div>
						<div class="card-body">
							<div class="row">
							{% if imagery_object %} {% for imagery in imagery_object %}
								<div class="col-sm-6 col-md-4">
									<figure class="figure">
										<a href="{{ imagery.image.url }}" add target="_blank"><img src="{{ imagery.image.url }}" class="figure-img img-fluid rounded" alt="{{imagery.caption}}" /></a>
										<figcaption class="figure-caption">
											{{ imagery.caption }}
											<br>
											<a id="imagery{{imagery.id}}" data-toggle="modal" data-target="#confirmModal" data-message="Are you sure? If you proceed, the image will be deleted." data-buttontext="Delete" href="#" role="button">
												<svg class="c-icon">
													<use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-trash"></use>
												</svg>
											</a>
											<a href="#" role="button">
												<svg class="c-icon">
													<use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-pencil"></use>
												</svg>
											</a>
										</figcaption>
									</figure>
								</div>
							{% endfor %} 
							</div>
							{% else %}
							No imagery available.
							{% endif %}
						</div>
						<div class="card-footer">
						<h6>
							<a href="#" class="btn btn-sm btn-success float-right" role="button">
								<svg class="c-icon">
									<use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-plus"></use>
								</svg>
								Add Imagery
							</a>
						</h6>
						</div>
					</div>
					<!-- /.card -->

				</div>
				<!-- /.col-->
			</div>
			<!-- /.row-->
		</div>
	</div>
</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- Confirm Delete JS -->
<script src="{% get_static_prefix %}assets/js/confirm_delete.js"></script>
 {% endblock javascripts %}
