{% extends "dashboard/missioncard_base.html" %} {% load static %} {% block content %}

<!-- Script -->
<script type='text/javascript'>
	function screenshot(){
	 html2canvas(document.getElementById('container'), { allowTaint: true , scrollX:0, scrollY: -window.scrollY }).then(function(canvas) {
		// Export canvas as a blob 
    	canvas.toBlob(function(blob) {
        // Generate file download
        window.saveAs(blob, "mission_card.png");
    });
});
	}
	</script>



<!-- start container -->
<div class="container">

	<table class="table w-auto small" id="container">
		<thead class="thead-dark">
		  <tr>
			<th scope="col" colspan="10">MISSION CARD / {{flight_object.callsign|upper}} FLIGHT</td>
		  </tr>
		</thead>
		<tbody>
		  <tr bgcolor="darkgray">
			<th scope="row" colspan="6">CALLSIGN(S)</th>
			<th scope="row" colspan="4">MISSION</th>
		  </tr>
		  
		  <tr> 
			<td colspan="6">
				{% for aircraft in flight_object.aircraft_set.all%} 
					{{aircraft.pilot}} {% if aircraft.rio_wso %}({{ aircraft.rio_wso }}) {% endif %}/ 
				{% endfor %}
			</td>
			<td colspan="4">{{mission_object.name}}</td>
		  </tr>
		  <tr bgcolor="darkgray">
			<th scope="row" colspan="10" >WEATHER</th>
		 </tr>
		 <tr bgcolor="lightgray">
			<th scope="row" colspan="1">Vis</th>
			<th scope="row" colspan="1">Cloud Base</th>
			<th scope="row" colspan="1">Cloud Tops</th>
			<th scope="row" colspan="1">Wind@SL</th>
			<th scope="row" colspan="1">Wind@7K</th>
			<th scope="row" colspan="1">Wind@26K</th>
			<th scope="row" colspan="1">QNH</th>
			<th scope="row" colspan="1">QNE</th>
			<th scope="row" colspan="1">Temp</th>
			<th scope="row" colspan="1">SIGWX</th>
		 </tr>
		 <tr>
			<td scope="row" colspan="1">n/a</td>
			<td scope="row" colspan="1">{{mission_object.cloud_base}}</td>
			<td scope="row" colspan="1">{{mission_object.cloud_top}}</td>
			<td scope="row" colspan="1">{% if mission_object.wind_sl == null %} - {%else%} {{mission_object.wind_sl}} {%endif%}</td>
			<td scope="row" colspan="1">{% if mission_object.wind_7k == null %} - {%else%} {{mission_object.wind_7k}} {%endif%}</td>
			<td scope="row" colspan="1">{% if mission_object.wind_26k == null %} - {%else%} {{mission_object.wind_26k}} {%endif%}</td>
			<td scope="row" colspan="1">{% if mission_object.qnh == null %} - {%else%} {{mission_object.qnh}} {%endif%}</td>
			<td scope="row" colspan="1">{% if mission_object.qfe == null %} - {%else%} {{mission_object.qfe}} {%endif%}</td>
			<td scope="row" colspan="1">{% if mission_object.temp == null %} - {%else%} {{mission_object.temp}} {%endif%}</td>
			<td scope="row" colspan="1">{% if mission_object.sigwx == null %} - {%else%} {{mission_object.sigwx}} {%endif%}</td>
		 </tr>
		  
		  <tr bgcolor="darkgray">
			<th scope="row" colspan="6">TIME HACKS</th>
			<th scope="row" colspan="4">FUEL</th>
		  </tr>
		  <tr bgcolor="lightgray">
			<th scope="row" colspan="1">Start</th>
			<th scope="row" colspan="1">Take Off</th>
			<th scope="row" colspan="1">RV 1</th>
			<th scope="row" colspan="1">RV 2</th>
			<th scope="row" colspan="1"></th>
			<th scope="row" colspan="1"></th>
			<th scope="row" colspan="1">F.O.B.</th>
			<th scope="row" colspan="1">Joker</th>
			<th scope="row" colspan="1">Bingo</th>
			<th scope="row" colspan="1"></th>
		  </tr>
		  
		  <tr>
			<td scope="row" colspan="1">n/a</td>
			<td scope="row" colspan="1">{% if flight_object.timehack_start == null %} - {%else%} {{flight_object.timehack_start}} {%endif%}</td>
			<td scope="row" colspan="1">{% if flight_object.timehack_rdv1 == null %} - {%else%} {{flight_object.timehack_rdv1}} {%endif%}</td>
			<td scope="row" colspan="1">{% if flight_object.timehack_rdv2 == null %} - {%else%} {{flight_object.timehack_rdv2}} {%endif%}</td>
			<td scope="row" colspan="1"></td>
			<td scope="row" colspan="1"></td>
			<td scope="row" colspan="1">{% if flight_object.fuel_fob == null %} - {%else%} {{flight_object.fuel_fob}} {%endif%}</td>
			<td scope="row" colspan="1">{% if flight_object.fuel_joker == null %} - {%else%} {{flight_object.fuel_joker}} {%endif%}</td>
			<td scope="row" colspan="1">{% if flight_object.fuel_bingo == null %} - {%else%} {{flight_object.fuel_bingo}} {%endif%}</td>
			<td scope="row" colspan="1"></td>
			
		  </tr>
		  
		  <tr>
			<th scope="row" colspan="10" bgcolor="darkgray">FLIGHTS</th>
		  </tr>
		  <tr bgcolor="lightgray">
			<th scope="row" colspan="2">Callsign</th>
			<th scope="row" colspan="2">Freq</th>
			<th scope="row" colspan="2">A/C Type</th>
			<th scope="row" colspan="2">A/C #</th>
			<th scope="row" colspan="2">Package</th>
		  </tr>
		  {% for package in mission_object.package_set.all %}
		  	{% for flight in package.flight_set.all %}
					<tr {% if flight.callsign == flight_object.callsign %} bgcolor="yellow" {% endif %}>
						<th colspan="2">{{ flight.callsign }}</th>
						<td colspan="2">{{ flight.radio_frequency }}</td>
						<td colspan="2">{{ flight.aircraft_set.first.type }}</td>
						<td colspan="2">{{ flight.aircraft_set.count }}</td>
						<td colspan="2">{{ package.name }}</td>
					</tr>
				{% endfor %}
			{% endfor %}

		  <tr>
			<th scope="row" colspan="10" bgcolor="darkgray">MISSION SUPPORT</th>
		  </tr>
		  <tr bgcolor="lightgray">
			<th scope="row" colspan="1">Type</th>
			<th scope="row" colspan="1">Callsign</th>
			<th scope="row" colspan="1">Freq</th>
			<th scope="row" colspan="1">TACAN</th>
			<th scope="row" colspan="1">Alt.</th>
			<th scope="row" colspan="1">Speed</th>
			<th scope="row" colspan="1">BRC</th>
			<th scope="row" colspan="1">ICLS</th>
			<th scope="row" colspan="2">Notes</th>
		  </tr>

		  {% for support in mission_object.support_set.all %}
		  <tr>
			<th scope="row" colspan="1">{{support.support_type}}</th>
			<th scope="row" colspan="1">{{support.callsign}}</th>
			<td scope="row" colspan="1">{{support.frequency}}</td>
			<td scope="row" colspan="1">{{support.tacan}}</td>
			<td scope="row" colspan="1">{{support.altitude}}</td>
			<td scope="row" colspan="1">{{support.speed}}</td>
			<td scope="row" colspan="1">{{support.brc}}</td>
			<td scope="row" colspan="1">{{support.icls}}</td>
			<td scope="row" colspan="2">{{support.notes|linebreaks}}</td>
		  </tr>
		  {% endfor %}
		  
		  <tr bgcolor="darkgray">
			<th scope="row" colspan="10">TACTICAL MISSION BRIEF</th>
		  </tr>
		  
		  <tr>
			  <td scope="row" colspan="10">{{mission_object.brief|linebreaks}}</td>
		  </tr>
		  
		  <tr bgcolor="darkgray">
			<th scope="row" colspan="10">TARGET INFO</th>
		  </tr>

		  <tr bgcolor="lightgray">
			<th scope="row" colspan="2">Name</th>
			<th scope="row" colspan="2">Lat</th>
			<th scope="row" colspan="2">Long</th>
			<th scope="row" colspan="2">Elev.</th>
			<th scope="row" colspan="2">Notes</th>
		  </tr>
		  
		  {% for target in flight_object.targets.all %}
					<tr>
						<td colspan="2">{{ target.name }}</td>
						<td colspan="2">{{ target.lat }}</td>
						<td colspan="2">{{ target.long }}</td>
						<td colspan="2">{{ target.elev}}</td>
						<td colspan="2">{{ target.notes|linebreaks }}</td>
					</tr>
			{% endfor %}

			<tr bgcolor="darkgray">
				<th scope="row" colspan="10">THREAT INFO</th>
			  </tr>

			  <tr bgcolor="lightgray">
				<th scope="row" colspan="2">Type</th>
				<th scope="row" colspan="4">Name</th>
				<th scope="row" colspan="4">Description</th>

			  </tr>
			  
			  {% for threat in mission_object.threat_set.all %}
						<tr>
							<td colspan="2">{{ threat.threat_type }}</td>
							<td colspan="4">{{ threat.name }}</td>
							<td colspan="4">{{ threat.description|linebreaks }}</td>
						</tr>
				{% endfor %}
		  </tbody>
	  </table>
</div>

<button onclick="screenshot()">Download Mission Card Image</button>

{% endblock %}
