{% extends "dashboard/missioncard_base.html" %} {% load static %} {% block content %}

<!-- Script -->
<script type='text/javascript'>
	function screenshot(){
	 html2canvas(document.getElementById('container')).then(function(canvas) {
		// Export canvas as a blob 
    	canvas.toBlob(function(blob) {
        // Generate file download
        window.saveAs(blob, "mission_card.png");
    });
});
	}
	</script>



<!-- start container -->
<div class="container" id="container">

	<table class="table w-auto small">
		<thead class="thead-dark">
		  <tr>
			<th scope="col" colspan="10">MISSION CARD / {{flight_object.callsign|upper}} FLIGHT</td>
		  </tr>
		</thead>
		<tbody>
		  <tr>
			<th scope="row" colspan="6" bgcolor="lightgray">CALLSIGN(S)</th>
			<th scope="row" colspan="4"bgcolor="lightgray">MISSION</th>
		  </tr>
		  
		  <tr> 
			<td colspan="6">
				{% for aircraft in flight_object.aircraft_set.all%} 
					{{aircraft.pilot}} {% if aircraft.rio_wso %}({{ aircraft.rio_wso }}) {% endif %}/ 
				{% endfor %}
			</td>
			<td colspan="4">{{mission_object.name}}</td>
		  </tr>
		  <tr>
			<th scope="row" colspan="10" bgcolor="lightgray">WEATHER</th>
		 </tr>
		 <tr>
			<th scope="row" colspan="1">Vis</th>
			<th scope="row" colspan="1">Cloud Base</th>
			<th scope="row" colspan="1">Cloud Tops</th>
			<th scope="row" colspan="1">Wind@SL</th>
			<th scope="row" colspan="1">Wind@7K</th>
			<th scope="row" colspan="1">Wind@26K</th>
			<th scope="row" colspan="1">QNH</th>
			<th scope="row" colspan="1">QNE</th>
			<th scope="row" colspan="1">Temp</th>
			<th scope="row" colspan="1">SIGWX</th>
		 </tr>
		 <tr>
			<td scope="row" colspan="1">n/a</td>
			<td scope="row" colspan="1">{{mission_object.cloud_base}}</td>
			<td scope="row" colspan="1">{{mission_object.cloud_top}}</td>
			<td scope="row" colspan="1">{% if mission_object.wind_sl == null %} - {%else%} {{mission_object.wind_sl}} {%endif%}</td>
			<td scope="row" colspan="1">{% if mission_object.wind_7k == null %} - {%else%} {{mission_object.wind_7k}} {%endif%}</td>
			<td scope="row" colspan="1">{% if mission_object.wind_26k == null %} - {%else%} {{mission_object.wind_26k}} {%endif%}</td>
			<td scope="row" colspan="1">{% if mission_object.qnh == null %} - {%else%} {{mission_object.qnh}} {%endif%}</td>
			<td scope="row" colspan="1">{% if mission_object.qfe == null %} - {%else%} {{mission_object.qfe}} {%endif%}</td>
			<td scope="row" colspan="1">{% if mission_object.temp == null %} - {%else%} {{mission_object.temp}} {%endif%}</td>
			<td scope="row" colspan="1">{% if mission_object.sigwx == null %} - {%else%} {{mission_object.sigwx}} {%endif%}</td>
		 </tr>
		  
		  <tr>
			<th scope="row" colspan="6" bgcolor="lightgray">TIME HACKS</th>
			<th scope="row" colspan="5"bgcolor="lightgray">FUEL</th>
		  </tr>
		  <tr>
			<td scope="row" colspan="1">Start</td>
			<td scope="row" colspan="1">Take Off</td>
			<td scope="row" colspan="1">RV 1</td>
			<td scope="row" colspan="1">RV 2</td>
			<td scope="row" colspan="1"></td>
			<td scope="row" colspan="1"></td>
			<td scope="row" colspan="1">F.O.B.</td>
			<td scope="row" colspan="1">Joker</td>
			<td scope="row" colspan="1">Bingo</td>
			<td scope="row" colspan="1"></td>
		  </tr>
		  
		  <tr>
			<th scope="row" colspan="1">n/a</th>
			<th scope="row" colspan="1">{% if flight_object.timehack_start == null %} - {%else%} {{flight_object.timehack_start}} {%endif%}</th>
			<td scope="row" colspan="1">{% if flight_object.timehack_rdv1 == null %} - {%else%} {{flight_object.timehack_rdv1}} {%endif%}</td>
			<td scope="row" colspan="1">{% if flight_object.timehack_rdv2 == null %} - {%else%} {{flight_object.timehack_rdv2}} {%endif%}</td>
			<td scope="row" colspan="1"></td>
			<td scope="row" colspan="1"></td>
			<td scope="row" colspan="1">{% if flight_object.fuel_fob == null %} - {%else%} {{flight_object.fuel_fob}} {%endif%}</td>
			<td scope="row" colspan="1">{% if flight_object.fuel_joker == null %} - {%else%} {{flight_object.fuel_joker}} {%endif%}</td>
			<td scope="row" colspan="1">{% if flight_object.fuel_bingo == null %} - {%else%} {{flight_object.fuel_bingo}} {%endif%}</td>
			<td scope="row" colspan="1"></td>
			
		  </tr>
		  
		  <tr>
			<td scope="row" colspan="10"></td>
		  </tr>
		  
		  <tr>
			<th scope="row" colspan="12" bgcolor="lightgray">MISSION SUPPORT</th>
		  </tr>
		  <tr>
			<td scope="row" colspan="1">Type</td>
			<td scope="row" colspan="1">Callsign</td>
			<td scope="row" colspan="1">Freq</td>
			<td scope="row" colspan="1">TACAN</td>
			<td scope="row" colspan="1">Alt.</td>
			<td scope="row" colspan="1">Speed</td>
			<td scope="row" colspan="1">BRC</td>
			<td scope="row" colspan="1">ICLS</td>
			<td scope="row" colspan="2">Notes</td>
		  </tr>
		  
		  {% for support in mission_object.support_set.all %}
		  <tr>
			<th scope="row" colspan="1">{{support.support_type}}</th>
			<th scope="row" colspan="1">{{support.callsign}}</th>
			<td scope="row" colspan="1">{{support.frequency}}</td>
			<td scope="row" colspan="1">{{support.tacan}}</td>
			<td scope="row" colspan="1">{{support.altitude}}</td>
			<td scope="row" colspan="1">{{support.speed}}</td>
			<td scope="row" colspan="1">{{support.brc}}</td>
			<td scope="row" colspan="1">{{support.icls}}</td>
			<td scope="row" colspan="2">{{support.notes|linebreaks}}</td>
			
			
		  </tr>
		  {% endfor %}
		  
		  
		  
		  
		  <tr>
			<td scope="row" colspan="10"></td>
		  </tr>
		  
		  <tr>
			<th scope="row" colspan="10" bgcolor="lightgray">TACTICAL MISSION BRIEF</th>
		  </tr>
		  
		  <tr>
			  <td scope="row" colspan="10">{{mission_object.brief|linebreaks}}</td>
		  </tr>
		  
		  <tr>
			<td scope="row" colspan="10"></td>
		  </tr>
		  
		  <tr>
			<th scope="row" colspan="10" bgcolor="lightgray">TARGET INFO</th>
		  </tr>
		  
		  {% for target in flight_object.targets.all %}
					<tr>
						<td colspan="2">{{ target.name }}</td>
						<td colspan="2">{{ target.lat }}</td>
						<td colspan="2">{{ target.long }}</td>
						<td colspan="2">{{ target.elev}}</td>
						<td colspan="2">{{ target.notes|linebreaks }}</td>
					</tr>
			{% endfor %}
		  </tbody>
	  </table>
</div>

<button onclick="screenshot()">Download Mission Card Image</button>

{% endblock %}
