{% extends "layouts/base-fullscreen.html" %} {% block title %} Login {% endblock %}
{% load static %}{% load widget_tweaks %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link rel="stylesheet" href="{% static '/coreui/icons/css/free.min.css' %}">
    <link rel="stylesheet" href="{% static '/coreui/icons/css/brand.min.css' %}">
{% endblock stylesheets %}
{% block content %}

    <body class="c-app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mx-4">
                    <form class="login" id="account_login" method="post" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        <div class="card-body p-4">
                            <h1>Login to {{ site_name }}</h1>
                            <p>
                                The easiest way to sign in to O.P.T.I.C.S is via one of the existing third party
                                accounts.
                            </p>
                            <p> Or you can
                                <a href="{{ signup_url }}">sign up</a> for an account using oldskool username/password
                            </p>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend"><span class="input-group-text cil-user"></span></div>
                                <!-- add css classes to field element using widget-tweaks  -->
                                {{ form.login|add_class:"form-control"|add_error_class:"is-invalid" }}
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend"><span class="input-group-text cil-lock-locked">
                                    </span></div>
                                {{ form.password|add_class:"form-control"|add_error_class:"is-invalid" }}
                            </div>
                            <div class="input-group mb-3 form-check">
                                {{ form.remember|add_class:"form-check-input"|add_error_class:"is-invalid" }} {{ form.remember|add_label_class:"form-check-label" }}
                            </div>
                            {% if form.errors %} {{ form.errors }} (error) {% endif %} {% if messages %}
                            <div>
                                <strong>Messages:</strong>
                                <ul>
                                    {% for message in messages %}
                                        <li>{{ message }} (message)</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                            <button class="btn btn-block btn-success" type="submit">Login</button>
                        </div>
                        <div class="card-footer d-flex p-4 justify-content-center">

                            <div class="row">
                                {% load account socialaccount %} {% get_providers as socialaccount_providers %}
                                {% if socialaccount_providers %}
                                    <div class="socialaccount_ballot">
                                        <p class="socialaccount_providers align-items-center">
                                            {% include "allauth/socialaccount/snippets/provider_list.html" with process="login" %}
                                        </p>
                                    </div>

                                    {% include "allauth/socialaccount/snippets/login_extra.html" %} {% else %} {% endif %}
                            </div>
                        </div>
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}"
                                   value="{{ redirect_field_value }}"/> {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}