{% extends "../profile/base_profile.html" %}
{% load widget_tweaks %}
{% load i18n %}


{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block password_active_state %}active{% endblock %}
{% block account_content %}
  <form method="POST" action="" class="password_change">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
        {% for error in field.errors %}
          <span class="form-text text-warning ">{{ error }}</span>
        {% endfor %}
      </div>
    {% endfor %}
    <div class="form-group">
      <button type="submit" class="btn btn-success">Change Password
      </button>

    </div>
  </form>

{% endblock %}
