{% extends "layouts/base-fullscreen.html" %} {% block title %} Register {% endblock %}
{% load static %}{% load widget_tweaks %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
  <link rel="stylesheet" href="{% static '/coreui/icons/css/free.min.css' %}">
  <link rel="stylesheet" href="{% static '/coreui/icons/css/brand.min.css' %}"> {% endblock stylesheets %}
{% block content %}

  <body class="c-app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-4">
          <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            <div class="card-body p-4">
              <h1>Register for an account</h1>
              <p class="text-muted">An OPTICS account enables you to add campaigns, sign up for missions and manage your
                profile.</p>
              <p class="text-muted">You can also use third party logins to create your OPTICS account and login in
                future.</p>
              <div class="input-group mb-3">
                <div class="input-group-prepend"><span class="input-group-text cil-user"></span></div>
                <!-- add css classes to field element using widget-tweaks  -->
                {{ form.username|add_class:"form-control"|add_error_class:"is-invalid" }}
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend"><span class="input-group-text cil-envelope-open ">
                                    </span></div>
                {{ form.email|add_class:"form-control"|add_error_class:"is-invalid" }}
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend"><span class="input-group-text cil-lock-locked">
                                    </span></div>
                {{ form.password1|add_class:"form-control"|add_error_class:"is-invalid" }}
              </div>
              <div class="input-group mb-4">
                <div class="input-group-prepend"><span class="input-group-text cil-lock-locked">
                                    </span></div>

                {{ form.password2|add_class:"form-control"|add_error_class:"is-invalid" }}
              </div>
              {% if form.errors %} {{ form.errors }} (error) {% endif %} {% if messages %}
              <div>
                <strong>Messages:</strong>
                <ul>
                  {% for message in messages %}
                    <li>{{ message }} (message)</li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
              <button class="btn btn-block btn-success" type="submit">Create Account</button>
            </div>
            <div class="card-footer d-flex p-4 justify-content-center">

              <div class="row">
                {% load account socialaccount %} {% get_providers as socialaccount_providers %}
                {% if socialaccount_providers %}
                  <div class="socialaccount_ballot">
                    <p class="socialaccount_providers align-items-center">
                      {% include "socialaccount/snippets/provider_list.html" with process="connect" %}
                    </p>
                  </div>
                  {% include "socialaccount/snippets/login_extra.html" %}
                {% endif %}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}