{% extends "dashboard/basev2.html" %} {% load static %} {% block content %} {% load user_tags %}

  <!-- start container -->
  <div class="container">
    <!-- start row - Bread Crumbs -->
    <div class="row">
      <!-- Start Col -->
      <div class="col-sm">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'campaign' %}">Campaigns</a></li>
            <li class="breadcrumb-item">
              <a href="{% url 'campaign' mission_object.campaign.id %}">{{ mission_object.campaign.name }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ mission_object.name }}</li>
          </ol>
        </nav>
      </div>
    </div>
    <!-- end row -->

    <hr class="starter-template"/>
    <h2>{{ mission_object.name }}</h2>

    <h6>
      MISSION {{ mission_object.number }} / {{ mission_object.mission_date }} / {{ mission_object.mission_time }} /
      {{ mission_object.mission_date|timeuntil }}
    </h6>
    <hr/>

    {% if package_object %}
      {% for package in package_object %}
        <div class="card">
          <div class="card-header bg-light"><h3>{{ package.name }}</h3></div>
          <div class="card-body">{{ package.description|linebreaks }} </div>
          <div class="card-body">
            <div class="class=table-responsive">
              <table class="table ">
                <thead class="thead-dark">
                <tr>
                  <th scope="col" colspan="6">Flight Name - Task</th>
                </tr>
                </thead>
                <tbody>
                {% for flight in package.flight_set.all %}
                  <tr class="table-info text-center ">
                    <th class="w-25 text-left">{{ flight.callsign }} - {{ flight.task }}</th>
                    <th class="w-25">A/C</th>
                    <th class="w-14 ">Pilot</th>
                    <th class="w-11"></th>
                    <th class="w-14">RIO/Gunner</th>
                    <th class="w-11"></th>
                  </tr>
                  {% for aircraft in flight.aircraft_set.all %}
                    <tr>
                      <td>
                        {% if aircraft.flight_lead %}<span class="badge badge-primary">Flight Lead</span>{% endif %}
                        {% if aircraft.package_lead %}&nbsp<span class="badge badge-info">Package Lead</span>{% endif %}
                      </td>
                      <td class="text-center">
                        {{ aircraft.type }}
                      </td>

                      {% if aircraft.multicrew %}
                        {% if aircraft.pilot %}
                          <td class="text-center"> {{ aircraft.pilot }}</td>
                          <td>
                            {% if aircraft.pilot == user %}
                              <a class="btn btn-sm btn-danger"
                                 href="{% url 'mission_signup_remove' aircraft.id 1 %}?returnUrl={{ request.path }}"
                                 role="button">Leave Slot</a>
                            {% elif is_owner %}
                              <a class="btn btn-sm btn-warning"
                                 href="{% url 'mission_signup_remove' aircraft.id 1 %}?returnUrl={{ request.path }}"
                                 role="button">Clear Slot</a>
                            {% endif %}
                          </td>
                        {% else %} {# no pilot yet #}
                          {% if has_seat %} {# User has a seat #}
                            <td class="text-center">---</td>
                            <td></td>
                          {% else %}
                            <td class="text-center">
                              <a class="btn btn-sm btn-info"
                                 href="{% url 'mission_signup_update' aircraft.id 1 %}?returnUrl={{ request.path }}"
                                 role="button">Take Slot</a>
                            </td>
                            <td></td>
                          {% endif %} {# end if has seat #}
                        {% endif %} {# end if pilot #}
                        {% if aircraft.rio_wso %}
                          <td class="text-center">{{ aircraft.rio_wso }}</td>
                          <td>
                            {% if aircraft.rio_wso == user %}
                              <a class="btn btn-sm btn-danger"
                                 href="{% url 'mission_signup_remove' aircraft.id 2 %}?returnUrl={{ request.path }}"
                                 role="button">Leave Slot</a>
                            {% elif is_owner %}
                              <a class="btn btn-sm btn-warning"
                                 href="{% url 'mission_signup_remove' aircraft.id 2 %}?returnUrl={{ request.path }}"
                                 role="button">Clear Slot</a>
                            {% endif %}
                          </td>
                        {% else %} {# no rio yet #}
                          {% if has_seat %}
                            <td class="text-center">---</td>
                            <td></td>
                          {% else %}
                            <td class="text-center">
                              <a class="btn btn-sm btn-info"
                                 href="{% url 'mission_signup_update' aircraft.id 2 %}?returnUrl={{ request.path }}"
                                 role="button">Take Slot</a>
                            </td>
                            <td>blank</td>
                          {% endif %} {# has seat #}
                        {% endif %} {# RIO #}
                      {% else %} {# Not Multicrew #}
                        {% if aircraft.pilot %}
                          <td class="text-center">{{ aircraft.pilot }}</td>
                          <td>
                            {% if aircraft.pilot == user %}
                              <a class="btn btn-sm btn-danger"
                                 href="{% url 'mission_signup_remove' aircraft.id 1 %}?returnUrl={{ request.path }}"
                                 role="button">Leave Slot</a>
                            {% elif is_owner %}
                              <a class="btn btn-sm btn-warning"
                                 href="{% url 'mission_signup_remove' aircraft.id 1 %}?returnUrl={{ request.path }}"
                                 role="button">Clear Slot</a>
                            {% endif %}
                          </td>
                        {% else %}
                          {% if has_seat %} {# User has a seat #}
                            <td class="text-center">---</td>
                            <td></td>
                          {% else %}
                            <td class="text-center">
                              <a class="btn btn-sm btn-info"
                                 href="{% url 'mission_signup_update' aircraft.id 1 %}?returnUrl={{ request.path }}"
                                 role="button">Take Slot</a>
                            </td>
                            <td></td>
                          {% endif %} {# end if has seat #}
                        {% endif %} {# pilot #}
                        <td></td>
                        <td></td>
                      {% endif %} {# Multicrew / single  #}

                    </tr>
                  {% endfor %}
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      {% endfor %}{% endif %}
  </div>
{% endblock %}