{% extends "dashboard/basev2.html" %} {% load static %} {% block content %}

<!-- start container -->
<div class="container">
	<!-- start row - Bread Crumbs -->
	<div class="row">
		<!-- Start Col -->
		<div class="col-sm">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
					<li class="breadcrumb-item"><a href="{% url 'campaign' %}">Campaigns</a></li>
					<li class="breadcrumb-item"><a href="{% url 'campaign' mission_object.campaign.id  %}">{{ mission_object.campaign.name }}</a></li>
					<li class="breadcrumb-item active" aria-current="page">{{mission_object.name}}</li>
				</ol>
			</nav>
		</div>
	</div>
	<!-- end row -->

	<hr class="starter-template">
		<h2>{{ mission_object.name }}</h2>

		<h6>MISSION {{mission_object.number}} / {{mission_object.mission_date}} / {{mission_object.mission_time}} // {{ mission_object.mission_date|timeuntil }}
			<a class="btn btn-sm btn-primary float-right" href="{% url 'mission_signup' mission_object.id %}?returnUrl={{request.path}}" role="button">Mission Sign Up</a>
		</h6>
		<hr />
		<h5 class='text-muted'>Situation</h5>
		<p class="lead">{{ mission_object.description|linebreaks|urlize }}</p>
		<h5 class='text-muted'>Tactical Brief</h5>
		<p class="lead">{{ mission_object.brief|linebreaks|urlize }}</p>
		<h5 class='text-muted'>Rules of Engagement</h5>
		<p class="lead">{{ mission_object.roe|linebreaks }}</p>
		<h5 class='text-muted'>Munitions Restrictions</h5>
		<p class="lead">{{ mission_object.munitions_restrictions|linebreaks }}</p>
		<h5 class='text-muted'>Weather</h5>
		<div class="table-responsive">
			<table class="table table-striped table-sm">
				<thead class="thead-light">
					<tr>
						<th>Cloud Base</th>
						<th>Tops</th>
						<th>Wind@SL</th>
						<th>Wind@7K</th>
						<th>Wind@26K</th>
						<th>QNH</th>
						<th>QFE</th>
						<th>Temp.</th>
						<th>SIGWX</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{mission_object.cloud_base}}</td>
						<td>{{mission_object.cloud_top}}</td>
						<td>{{mission_object.wind_sl}}</td>
						<td>{{mission_object.wind_7k}}</td>
						<td>{{mission_object.wind_26k}}</td>
						<td>{{mission_object.qnh}}</td>
						<td>{{mission_object.qfe}}</td>
						<td>{{mission_object.temp}}</td>
						<td>{{mission_object.sigwx}}</td>
					</tr>
				</tbody>
			</table>

			<div class="btn-toolbar">
				<div class="btn-group mr-2">
					{% if campaign.creator.username == user.username or isAdmin == True %}
						<a class="btn btn-sm btn-outline-secondary" href="{% url 'mission_update' mission_object.id %}?returnUrl={{request.path}}" role="button">Edit</a>
						<a class="btn btn-sm btn-outline-secondary" href="{% url 'mission_delete' mission_object.id %}?returnUrl={{request.path}}" role="button">Delete</a>
					{% endif %}
				</div>
			</div>
		</div>

		<hr />

		<h2>Package{{ package_object|pluralize }}</h2>
		<div class="table-responsive">
			<table class="table table-striped table-sm">
				<thead class="thead-dark">
					<tr>
						<th style="width: 10%">Package Name</th>
						<th style="width: 70%">Description</th>
						<th style="width: 10%"># of Flights</th>
						<th style="width: 10%"></th>
					</tr>
				</thead>
				<tbody>
					{% if package_object %} {% for package in package_object %}
					<tr>
						<td>
							<a href="/airops/package/{{ package.id }}/">{{ package.name }}</a>
						</td>
						<td>{{ package.summary|linebreaks }}</td>
						<td>{{ package.flight_set.count }}</td>
						<td>
							<button class="btn btn-info btn-sm dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">						
								<i class="bi bi-pencil"></i>&nbspPackage
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="{% url 'package_update' package.id %}?returnUrl={{request.path}}">
									<i class="bi bi-pencil"></i>&nbspEdit
								</a>
								<a class="dropdown-item" href="{% url 'package_delete' package.id %}?returnUrl={{request.path}}">
									<i class="bi bi-trash"></i>&nbspDelete
								</a>
							</div>
						</td>
						{% endfor %}
					</tr>
					{% else %}
					<tr>
						<td colspan="10">No packages are available.</td>
					</tr>
					{% endif %}
				</tbody>
			</table>
			<a href="{% url 'package_add' mission_object.id %}?returnUrl={{request.path}}" role="button"
				><button type="button" class="btn btn-sm btn-success float-right"><i class="bi bi-plus"></i> Add Package</button></a
			>
		</div>

		<h2>Target{{ target_object|pluralize }}</h2>

		<div class="table-responsive">
			<table class="table table-striped table-sm">
				<thead class="thead-dark">
					<tr>
						<th style="width: 20%">Name</th>
						<th style="width: 10%">Lat</th>
						<th style="width: 10%">Long</th>
						<th style="width: 10%">Elev</th>
						<th style="width: 30%">Notes</th>
						<th style="width: 10%">Image</th>
						<th style="width: 10%"></th>
					</tr>
				</thead>
				<tbody>
					{% if target_object %} {% for target in target_object %}
					<tr>
						<td>{{ target.name }}</td>
						<td>{{ target.lat }}</td>
						<td>{{ target.long }}</td>
						<td>{{ target.elev}}</td>
						<td>{{ target.notes|linebreaks }}</td>
						{% if target.target_image %}
						<td><a href="{{ target.target_image.url }}" add target="_blank">View</a></td>
						{% else %}
						<td>None</td>
						{% endif %}
						
						<td>
							<button class="btn btn-info btn-sm dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">						
								<i class="bi bi-pencil"></i>&nbspTarget
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="{% url 'target_update' target.id %}?returnUrl={{request.path}}">
									<i class="bi bi-pencil"></i>&nbspEdit
								</a>
								<a class="dropdown-item" href="{% url 'target_delete' target.id %}?returnUrl={{request.path}}">
									<i class="bi bi-trash"></i>&nbspDelete
								</a>
							</div>
						</td>
					</tr>
					{% endfor %} {% else %}
					<tr>
						<td colspan="10">No targets are available.</td>
					</tr>
					{% endif %}
				</tbody>
			</table>
			<a href="{% url 'target_add' mission_object.id %}?returnUrl={{request.path}}" role="button"
				><button type="button" class="btn btn-sm btn-success float-right"><i class="bi bi-plus"></i> Add Target</button></a
			>
		</div>

		<h2>Threat{{ threat_object|pluralize }}</h2>

		<div class="table-responsive">
			<table class="table table-striped table-sm">
				<thead class="thead-dark">
					<tr>
						<th style="width: 10%">Type</th>
						<th style="width: 30%">Name</th>
						<th style="width: 50%">Description</th>
						<th style="width: 10%"></th>
					</tr>
				</thead>
				<tbody>
					{% if threat_object %} {% for threat in threat_object %}
					<tr>
						<td>{{ threat.threat_type }}</td>
						<td>{{ threat.name }}</td>
						<td>{{ threat.description|linebreaks }}</td>
						<td>
							<button class="btn btn-info btn-sm dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">						
								<i class="bi bi-pencil"></i>&nbspThreat
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="{% url 'threat_update' threat.id %}?returnUrl={{request.path}}">
									<i class="bi bi-pencil"></i>&nbspEdit
								</a>
								<a class="dropdown-item" href="{% url 'threat_delete' threat.id %}?returnUrl={{request.path}}">
									<i class="bi bi-trash"></i>&nbspDelete
								</a>
								<a class="dropdown-item" href="{% url 'threat_copy' threat.id %}?returnUrl={{request.path}}">
									<i class="bi bi-plus"></i>&nbspCopy
								</a>
							</div>					
						</td>
					</tr>
					{% endfor %} {% else %}
					<tr>
						<td colspan="10">No threats are available.</td>
					</tr>
					{% endif %}
				</tbody>
			</table>
			<a href="{% url 'threat_add' mission_object.id %}?returnUrl={{request.path}}" role="button"
				><button type="button" class="btn btn-sm btn-success float-right"><i class="bi bi-plus"></i> Add Threat</button></a
			>
		</div>

		<h2>Support{{ support_object|pluralize }}</h2>

		<div class="table-responsive">
			<table class="table table-striped table-sm">
				<thead class="thead-dark">
					<tr>
						<th style="width: 10%">Callsign</th>
						<th style="width: 10%">Type</th>
						<th style="width: 5%">Freq</th>
						<th style="width: 5%">TCN</th>
						<th style="width: 5%">Alt</th>
						<th style="width: 5%">Spd</th>
						<th style="width: 5%">BRC</th>
						<th style="width: 5%">ICLS</th>
						<th style="width: 10%">Player</th>
						<th style="width: 30%">Notes</th>
						<th style="width: 10%"></th>
					</tr>
				</thead>
				<tbody>
					{% if support_object %} {% for support in support_object %}
					<tr>
						<td>{{ support.callsign }}</td>
						<td>{{ support.support_type }}</td>
						<td>{{ support.frequency }}</td>
						<td>{{ support.tacan }}</td>
						<td>{{ support.altitude }}</td>
						<td>{{ support.speed }}</td>
						<td>{{ support.brc }}</td>
						<td>{{ support.icls }}</td>
						<td>{{ support.player_name }}</td>
						<td>{{ support.notes|linebreaks }}</td>
						<td>
							<button class="btn btn-info btn-sm dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">						
								<i class="bi bi-pencil"></i>&nbspSupport
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="{% url 'support_update' support.id %}?returnUrl={{request.path}}">
									<i class="bi bi-pencil"></i>&nbspEdit
								</a>
								<a class="dropdown-item" href="{% url 'support_delete' support.id %}?returnUrl={{request.path}}">
									<i class="bi bi-trash"></i>&nbspDelete
								</a>
							</div>
						</td>
						
					</tr>
					{% endfor %} {% else %}
					<tr>
						<td colspan="12">No support(s) available.</td>
					</tr>
					{% endif %}
				</tbody>
			</table>
			<a href="{% url 'support_add' mission_object.id %}?returnUrl={{request.path}}" role="button"
				><button type="button" class="btn btn-sm btn-success float-right"><i class="bi bi-plus"></i> Add Support</button></a
			>
		</div>

		<hr>

		<h2>Mission Imagery <a href="{% url 'mission_imagery_add' mission_object.id %}?returnUrl={{request.path}}" role="button"
			><button type="button" class="btn btn-sm btn-success float-right"><i class="bi bi-plus"></i> Add Image</button></a
		>
		</h2>
		
		<div class="row">
			{% if imagery_object %} {% for imagery in imagery_object %}
			<div class="col">
				<figure class="figure">
					<a href="{{ imagery.image.url }}" add target="_blank"><img src="{{ imagery.image.url }}" class="figure-img img-fluid rounded" alt="{{imagery.caption}}" /></a>
					<figcaption class="figure-caption">
						{{ imagery.caption }} <a style="padding-left: 25px" href="{% url 'mission_imagery_update' imagery.id %}?returnUrl={{request.path}}" role="button"><i class="bi bi-pencil"></i> </a>
						<a style="padding-left: 25px" href="{% url 'mission_imagery_delete' imagery.id %}?returnUrl={{request.path}}" role="button"><i class="bi bi-trash"></i></a>
					</figcaption>
				</figure>
			</div>
			{% if forloop.counter|divisibleby:3 %}
		</div>
		<div class="row">
			{% endif %} {% endfor %} {% else %}
			<div class="col"><h5>No imagery available.</h5></div>

			{% endif %}
		</div>

		{% endblock %}
	</div>
</div>
