{% extends "dashboard/basev2.html" %} {% load static %} {% block content %}
<main role="main" class="container">
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="h2">Waypoint Delete Confirmation</h1>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="card card-body">
				<p>Are you sure you want to delete "{{item.name}}"?</p>
				<form action="{% url 'waypoint_delete' item.id %}" method="POST">
					{% csrf_token %}
					<button type="submit" class="btn btn-danger" name="confirm">Delete</button> <a class="btn btn-primary" href="{% url 'flight' item.flight.id %}" role="button">Cancel</a>
				</form>
			</div>
		</div>
	</div>
</main>
<!-- /.container -->
{% endblock %}
