{% extends "v2/base.html" %} {% block title %}About{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<style>
ul {
	text-align: left;
	list-style-position: inside;
}
</style>

<main class="c-main">
	<div class="container-fluid">
		<div class="fade-in">
			<!-- .row -->
			<div class="row">
				<div class="col-lg-6">
						<div class="card">
							<h5 class="card-header">Frequently Asked Questions
							</h5>
							<div class="card-body">
								<H2>What does O.P.T.I.C.S. stand for?</H2>
									
								<p>It is a acronym for Operational Planning Tactical Information Site.</p>
									
								<H2>What was it written in?</H2>
									
								<p>OPTICS was written in Django, a web framework for the Python language. It drives websites such as YouTube, Instagram, Dropbox and multitude of other well known websites.
									
								<h2>Who designed and coded it?</h2>
									
								<p>The initial designs for OPTICS came from a data model developed and proposed by Kluge of 161 Squadron. The design called for a tool that would help mission makers manage progress over a campaign. 
								</p>
								<p>It would enable mission makers to define constraints around a campaign they were designing such as finite mentions numbers, or airframe restrictions and then track losses and ammunition expended that would effect future missions.
								</p>	
									
								<p>With this data model, Tigershark of 161 picked up the idea and decided to start small. OPTICS has started simple with the functionality to define campaigns and missions within them to help aid with briefing and planning.
								</p>
							</div>
						</div>
				</div>
				<div class="col-lg-6">
					<div class="card">
						<h5 class="card-header">OPTICS Team</h5>
						<div class="card-body">
							<div class="row">
							<div class="col-lg-6">
								<! -- card -->
								<div class="card">
									<div class="card-body">
										<H5>Concept / Initial Design</H5>
										<ul>
											  <li>Kluge</li>
											  <li>Gimble</li>
											  <li>Tigershark </li>
										</ul>
										
										<H5>Coding</h5>
										<ul>
											  <li>Tigershark</li>
											  <li>Shrike (Mission Sign up, Social Sign In, Profiles, Squadron and timezone support</li>
										</ul>
										
										<H5>Testing</h5>
										<ul>
											  <li>Floydii</li>
											  <li>Zyfr</li>
											  <li>Goldleader</li>
											  <li>WOGGASAURUS </li>
											  <li>SSV8TE </li>
										</ul>
									</div>
								</div>
								<! -- .card -->
							
								<! -- card -->
								<div class="card">
									<div class="card-body">
										<H5>Concept / Initial Design</H5>
										<ul>
											  <li>Kluge</li>
											  <li>Gimble</li>
											  <li>Tigershark </li>
										</ul>
										
										<H5>Coding</h5>
										<ul>
											  <li>Tigershark</li>
											  <li>Shrike (Mission Sign up, Social Sign In, Profiles, Squadron and timezone support</li>
										</ul>
										
										<H5>Testing</h5>
										<ul>
											  <li>Floydii</li>
											  <li>Zyfr</li>
											  <li>Goldleader</li>
											  <li>WOGGASAURUS </li>
											  <li>SSV8TE </li>
										</ul>
									</div>
								</div>
								<! -- .card -->
						</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			<!-- /.row -->
		</div>
	</div>
</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
