{% extends "layouts/base.html" %} {% load static%}{% block title %} Avatar Selection {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<main class="c-main">
	<div class="container-fluid">
		<div class="fade-in">
			<div class="row">
					{% for file in files %}
					<div class="col-lg-3">		
						<div class="card">
							<div class="card-header">{{file}}</div>
							<div class="card-body">
								<div class="d-flex flex-column align-items-center text-center">
									<img src="{% static file %}" alt="Admin" class="rounded-circle" width="150"/></p>
									<div class="mt-3">
										<a href="{% url 'avatar_change' %}?avatar={{file}}"><button class="btn btn-outline-primary">Use This Avatar</button></a>
									</div>
								</div>
							</div>
						</div>
					</div>		
					{% endfor %}	
			</div>
		</div>
	</div>
</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
