{% extends "v2/profile/base_profile.html" %}
{% load crispy_forms_tags %}

{% block account_block %}
  {% include "v2/profile/profile_nav.html" with active_tab='profile' %}
  <div class="row">
    <div class="col-md-12 mb-3">
      <div class="card" id="user_info_card">
        <div class="card-body d-flex flex-column ">
          <form method="POST">
            {% csrf_token %}
            {{ profile_form|crispy }}
            <button class="btn btn-primary" type="submit">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock account_block %}
