<div class="card-body" >
    <ul class="list-group list-group-flush">
        {% if card.user_can_edit %}       {# Only editors get to play with dragdrop :( #}
            <form class="sortable"
                  hx-post="{% url 'sort_order_changed' %}"
                  hx-trigger="end"
                  hx-indicator="#htmx_indicator">
        {% endif %}
                {% for item in card.data %}
                    {% cycle 'bg-light' '' as zebra silent %}
                    <input type='hidden' name='item_ordinal' value='{{ forloop.counter }}' /> {# may need to rename this #}
                    <div id="{{ card.model_name }}_{{ item.id }}" hx-target="this">
                        {% include 'v2/partials/reference_entry_detail.html' %}
                    </div>
                {% endfor %}
        {% if card.user_can_edit %}  {# Close off the <form> if opened above #}
            </form>
        {% endif %}

    </ul>
</div>
