{% load crispy_forms_tags %}
<li class="list-group-item d-flex justify-content-between border-0 hx-target="this">
    <form id="edit-form" class="form-inline" action="{{ post_url }}" method="POST" enctype="multipart/form-data">
        <div class="col-auto ">
            {{ form.name|as_crispy_field }}
{#          {{ form.errors }} {# todo: need a better place to show form errors  #}
        </div>
        <div class="col-auto text-right float-right form-actions">
            <button class="btn btn-sm btn-primary" type="submit" hx-indicator="#htmx_indicator"
                    hx-trigger="click">Save
            </button>
{#            <a href="{% url 'reference_tables' %}" class="btn btn-sm btn-danger" role="button">Cancel</a>#}
{#                 ^^This doesnt work- gives htmx target error**??? ^^#}
            <button class="btn btn-sm btn-danger" type="button" onclick="location.href='{% url "reference_tables" %}'">
                Cancel
            </button>
        </div>
    </form>

</li>

