{% load user_tags %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	<a class="navbar-brand" href="#">O.P.T.I.C.S.</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
			</li>
			{% if user.is_authenticated %} 
			<li class="nav-item">
				<a class="nav-link" href="{% url 'account_change_password' %}changepassword">Change Password</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'own_profile' %}">Edit Profile</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'account_logout' %}">Sign Out</a>
			</li>
			{% else %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'account_login' %}">Login</a>
			</li>
			{% endif %}
			{% if request.user|has_group:"admin" %}
			<li class="nav-item">
				<a class="nav-link" href="/admin">Admin</a>
			</li>
			{% endif %}
		</ul>

		<ul class="navbar-nav">
			{% if user.is_authenticated %}
			<span class="navbar-text"> Hi, {{user.username}} </span>
			{% else %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'account_login' %}">Login</a>
			</li>
			{% endif %}
		</ul>
	</div>
</nav>
